body{
font-family: Arial;
background-color: #9c9f84;
  margin: 0px;
font-family: Verdana, Georgia, serif;
font-size: 14px;
text-align:center;
}

header {
background-color: #5c755e;
margin: 10px;
height: 90px;
border-radius: 5px;
}
#navbar  ul  {
padding: 5px;
list-style-type:none;
text-align: center;
background-color: #000;
margin: 10px;
border-radius: 5px; 
}
#navbar  ul  li  {
display: inline;
}

#navbar  ul  li a  {
text-decoration: none;  
font-family:Arial;
padding: .2em 1em;
color: #fff;
background-color: #000;
}

.main {
  
  background-color: #00ff00;


margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 5px;
padding: 20px;
font-size: 110%;
}
.phones{
display:flex;
justify-content:center;
gap:20px;
margin-top:30px;
}

.phone{
background:blue;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

.phone img{
width:200px;
}

.phone a{
display:inline-block;
margin-top:10px;
padding:10px 20px;
background:green;
color:orange;
text-decoration:none;
border-radius:5px;
}


#footer {
background-color: #5c755e;
margin: 10px;
height: 30px;
clear: both;
border-radius: 5px;
color: #efe5d0;
text-align: center;
padding: 15px;
font-size: 90%;
}
#footer  ul  {
padding: 5px;
list-style-type:none;
text-align: center; 
margin: 10px;
border-radius: 5px; 
}
#footer  ul  li  {
display: inline;
}

#footer  ul  li a  {
text-decoration: none;  
font-family:Arial;
padding: .2em 1em;
color: #efe5d0;
background-color: #5c755e;
}

#footer  ul  li a:hover  {
color: #000;
background-color: #fff;
}

footer{
margin-top:40px;
background:#000;
color:white;
padding:10px;
}
